.text {
  padding: 0 20px;
  color: rgb(3, 112, 106);
}

body {
  padding: 20px;
  color: rgb(2, 58, 52);
  font-family: "Poppins", sans-serif;
}

.photo {
  border-radius: 50%;
  object-fit: cover;
  float: right;
  height: 200px;
  width: 200px;
  border: 1px solid #1f848b;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.ss {
  font-size: 13px;
  color: rgb(47, 200, 173);
}

.container {
  padding: 20px 50px;
}

.logo {
  height: 45px;
}

footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 50px;
  justify-content: space-around;
}
